%p.center.explain
  Bienvenido al sistema de votaciones. 
  Ingresa con tu cuenta de alumno USM. 
  Ser치s redireccionado al portal de autentificaci칩n de Google, donde deber치s ingresar tu usuario y contrase침a de tu correo
  %strong institucional, 
  y luego autorizar a este sistema para poder votar.
  %br
  %br
  = link_to "<span>Ingresa con tu cuenta @alumnos.usm.cl &rarr;</span>".html_safe, "/auth/google", :class => 'button large green'