%p.center 
  Bienvenido al sistema de votaciones. Ingresa con tu cuenta de alumno USM.
  %br
  %br
  = link_to "<span>Ingresar con cuenta @alumnos.usm.cl &rarr;</span>".html_safe, "/auth/google", :class => 'button large green'