.buttons
  = link_to '<span>+ Nueva Votación</span>'.html_safe, new_admin_poll_path, :class => 'button large red'
  = link_to '<span>&rarr; Manejar Administradores</span>'.html_safe, admin_users_path, :class => 'button large red'