%h1
  Votación:
  = @poll.question

.alternatives
  - if @poll.user_voted? current_user
    %p Ya votaste.
  - else
    - # List all alternatives
    - # TODO: Randomize order
    - @poll.alternatives.each do |alternative|
      = link_to "<span>#{alternative.description}</span>".html_safe, "#", :class => 'button large gray'
      %br