%h1
  Votación:
  = @poll.question

.alternatives
  - if @poll.user_voted? current_user
    %p Gracias por tu voto
  - elsif @poll.closed?
    %p Lo sentimos, las votaciones ya finalizaron.
  - else
    - # List all alternatives
    - # TODO: Randomize order
    - @poll.alternatives.each do |alternative|
      = form_tag cast_poll_path do
        = hidden_field_tag :alternative, alternative.id
        %button{:type => 'submit', :class => 'button large gray'}
          %span= alternative.description
      %br