body {
  font-family: "Lucida Sans";
  font-size: 14px;
}

.center {
  text-align: center;
}

input[type=text] {
  font-size: 14px;
  padding: 5px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}