// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.users {
  .field {
    margin: 10px 0;
    
    label {
      float: left;
      line-height: 28px;
    }
    
    input, select {
      float:right;
    }
    
    select {
      margin: 10px;
    }
  }
}